body {
  font-family: "roboto", sans-serif;
  background: #ffffff;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-link {
  background: #ffffff;
}
.nav-link:hover, .nav-link:focus
.hedder-link-log {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
 letter-spacing: 0.03em;
 color: #2196f3;
}
.header-nav-links {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #2196f3;
}
.header-nav-linkp {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #212121;
}
.header-nav-linkc {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #212121;
}
.header-link-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #2196f3;
}
.header-link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #757575;
}
.nav-link:hover:focus {color: #2196F3;}
.service {
  background: #2f303a;
}
.service-voice {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.service-act {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.service-act-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc (30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: inherit;
}
.nav-link{cursor: pointer}
.busines-one {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.busines-one-det {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: #757575;
}
.busines-two {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.busines-two-det {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  /* or 171% */

  letter-spacing: 0.03em;
  color: #757575;
}
.busines-tree {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.busines-tree-det {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.busines-four {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.busines-four-det {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.img-skr {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.img-pos-one {
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
}
.img-pos-two {
  background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.img-pos-tree {
  background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}
.team {
  background: #f5f4fa;
}
.team-info {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;}
  .team-spec{font-weight: 500;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.team-spec-area {font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #757575;}
.footer-link-log{font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
}
.footer-addres-link{font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
}
.footer-mail{font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);}
.footer-tel{font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.footer-link{background: #2F303A;}